MYSQL_DSN: root:root@(localhost:3307)/dpe_insights?parseTime=true

PLUGIN_PAGER_DUTY_ACCESS_TOKEN: xxxxxx

PLUGIN_GITHUB_OAUTH2_TOKEN: xxxxxxx
PLUGIN_GITHUB_ORGANIZATION_NAME: xxxxx
PLUGIN_GITHUB_OWNER_NAME: xxxxx
PLUGIN_GITHUB_EXCLUDE_TEAMS= team1, team2
